/gcp/


/airflow/logs/
/airflow/plugins/
/airflow/dags/__pycache__/

/dataset/
/conv_dataset/

dbt-venv/

/logs/

/module/


/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars